@import '_content/Z.Blazor.Diagrams/Z.Blazor.Diagrams.bundle.scp.css';

/* /Pages/Index.razor.rz.scp.css */
.diagram-window[b-3prjl02dkq] {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
/* /Shared/CourseWidget.razor.rz.scp.css */
div.course-node[b-o275ajc70i] {
    /*width: 150px;*/
    /*height: 50px;*/
    outline: 1px solid;
    padding: 10px;
}

    div.course-node > h5[b-o275ajc70i] {
        text-transform: uppercase;
        margin-bottom: 2px;
    }

[b-o275ajc70i] .diagram-port {
    position: absolute;
    width: 0;
    height: 0;
    /*border-radius: 50%;*/
}
    [b-o275ajc70i] .diagram-port.top {
        /*border-top: 1px solid;*/
        top: 0;
    }

    [b-o275ajc70i] .diagram-port.bottom {
        /*border-bottom: 1px solid;*/
        bottom: 0;
    }

    [b-o275ajc70i] .diagram-port.left {
        /*border-left: 1px solid;*/
        left: 0;
    }

    [b-o275ajc70i] .diagram-port.right {
        /*border-right: 1px solid;*/
        right: 0;
    }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-k3c108hpe9] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-k3c108hpe9] {
    flex: 1;
}

.sidebar[b-k3c108hpe9] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-k3c108hpe9] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-k3c108hpe9]  a, .top-row[b-k3c108hpe9]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-k3c108hpe9]  a:hover, .top-row[b-k3c108hpe9]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-k3c108hpe9]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-k3c108hpe9] {
        display: none;
    }

    .top-row.auth[b-k3c108hpe9] {
        justify-content: space-between;
    }

    .top-row[b-k3c108hpe9]  a, .top-row[b-k3c108hpe9]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-k3c108hpe9] {
        flex-direction: row;
    }

    .sidebar[b-k3c108hpe9] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-k3c108hpe9] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-k3c108hpe9]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-k3c108hpe9], article[b-k3c108hpe9] {
        /*padding-left: 2rem !important;*/
        /*padding-right: 1.5rem !important;*/
    }
}
