@using Blazor.Diagrams.Core
@inject HttpClient Http

@C.Code
<ul>
    @foreach (Course course in prereq)
    {
        <li>
            <Branch C="@course" />
        </li>
    }
</ul>


@code 
{
    [Parameter] public Course C { get; set; } = new Course("SYDE", "522");

    private List<Course> prereq { get; set; } = new List<Course>();
    protected override async Task OnInitializedAsync() 
    {
        foreach (string courseCode in C.Prereq) 
        {
            Course? course = await Course.GetCourseAsync(Http, courseCode);
            if (course is null) 
            {
                course = new Course(courseCode);
            }
            prereq.Add(course);
        }
    }
}
