div.course-node {
    width: var(--course-node-w);
    height: var(--course-node-h);
    outline: 1px solid;
    padding: 10px;
}

    div.course-node > h5 {
        text-transform: uppercase;
        margin-bottom: 2px;
    }

::deep .diagram-port {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
    /*z-index: 90;*/
    background-color: var(--bs-body-bg);
}

    ::deep .diagram-port:hover {
        background-color: var(--bs-body-color);
    }

    ::deep .diagram-port.top {
        /*border-top: 1px solid;*/
        top: 0;
    }

    ::deep .diagram-port.bottom {
        /*border-bottom: 1px solid;*/
        bottom: 0;
    }

    ::deep .diagram-port.left {
        /*border-left: 1px solid;*/
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    ::deep .diagram-port.right {
        /*border-right: 1px solid;*/
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
        
    }