div.course-node {
    /*width: 150px;*/
    /*height: 50px;*/
    outline: 1px solid;
    padding: 10px;
}

    div.course-node > h5 {
        text-transform: uppercase;
        margin-bottom: 2px;
    }

::deep .diagram-port {
    position: absolute;
    width: 0;
    height: 0;
    /*border-radius: 50%;*/
}
    ::deep .diagram-port.top {
        /*border-top: 1px solid;*/
        top: 0;
    }

    ::deep .diagram-port.bottom {
        /*border-bottom: 1px solid;*/
        bottom: 0;
    }

    ::deep .diagram-port.left {
        /*border-left: 1px solid;*/
        left: 0;
    }

    ::deep .diagram-port.right {
        /*border-right: 1px solid;*/
        right: 0;
    }