@inherits CourseDiagramBase

<div class="diagram-container">
    <!-- show the diagram -->
    <CascadingValue Value="DSvc.Diagram">
        <DiagramCanvas></DiagramCanvas>
    </CascadingValue>
</div>