@using Blazor.Diagrams.Components.Renderers
@using UWSkillTree.Services
@inherits CourseWidgetBase

<div class="course-node card d-flex justify-content-center align-items-center">
    <h5 class="card-title" @onclick=HandleNodeClick>
        @Node.Course.Code
    </h5>
    @foreach (var port in Node.Ports)
    {
        <a @onclick=@(_ => HandlePortClick(port))>
            <PortRenderer @key="port" Port="port" />
        </a>
    }
</div>

<style>
    .course-node {
        --course-node-w: @DiagramService.NodeWidthPx;
        --course-node-h: @DiagramService.NodeHeightPx;
    }
</style>