@inherits CourseSearchBase

<div class="course-search card position-absolute top-0 start-50 translate-middle-x col-12 col-lg-6">
    <form @onsubmit=HandleSubmit>
        <div class="row g-0">
            <div class="col-11">
                <input class="form-control filter" @bind=SelectedCourseCode @oninput=HandleInput placeholder="ex. HLTH 630" />
                @if (CourseList is not null && CourseList.Count > 0)
                {
                    <div class="dropdown-menu show">
                        @foreach (var c in CourseList)
                        {
                            <a class="dropdown-item" @onclick=@(_ => SelectCourse(c))>
                                @c.Code - @c.Title
                            </a>
                        }
                    </div>
                }
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-dark"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </form>
</div>