@inherits CourseDisplayBase

@if (CSvc.SelectedCourse is not null)
{
    <div class="course-display card position-absolute bottom-0 start-50 translate-middle-x col-12 col-lg-6">
        <div class="card-body">
            <h5 class="card-title m-0">
                @CSvc.SelectedCourse.Title
            </h5>
            <p class="card-text">
                @CSvc.SelectedCourse.Description
            </p>
        </div>
    </div>
}
