@using Blazor.Diagrams.Components.Renderers
@inject CourseService Service

<div class="course-node card d-flex justify-content-center align-items-center" @onclick=handleClick>
    <h5 class="card-title">
        @Node.Course.Code
    </h5>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer @key="port" Port="port" />
    }
</div>

<style>
    .course-node {
        width: @CourseService.NodeWidthPx;
        height: @CourseService.NodeHeightPx;
    }
</style>

@code {
    [Parameter] public CourseNode Node { get; set; } = null!;

    private void handleClick()
    {
        Service.SelectedCourse = Node.Course;

        Service.ToggleBranch(Node);

    }
}
